@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #ddd;
	color: #5a5350;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #ed8151;
	outline: none;
}

a:hover, a:focus {
	color: #e86a32;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.header {
	margin: 0 auto 3em;
	padding: 3em;
	text-align: center;
}

.header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 700;
	background: rgba(255,255,255,0.3);
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}

.codrops-demos a,
button {
	border: none;
	padding: 0.6em 1.2em;
	background: #a9a9a9;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	border-radius: 2px;
	font-weight: 400;
	outline: none;
}

.codrops-demos a:hover,
.codrops-demos a:active,
.codrops-demos a.current-demo {
	background: #777;
}

button {
	font-size: 75%;
	background: #ed8151;
}

button:hover,
button:active {
	background: #e86a32;
}

.related {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
}

.related a {
	font-weight: 700;
	font-size: 0.9em;
}

@media screen and (max-width: 46.0625em) {

	.header {
		margin-bottom: 0;
		padding-bottom: 1em;
	}

	.column {
		width: 100%;
		min-width: auto;
		min-height: 0;
		padding: 2em; 
		text-align: center;
	}

	.column p {
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		text-align: center;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.header {
		font-size: 80%;
	}

	.codrops-top {
		font-size: 120%;
	}

	.codrops-icon span {
		display: none;
	}

}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #c6c6c6;
  -webkit-font-smoothing: antialiased;
}

.deck {
  position: absolute;
  width: 10em;
  height: 13em;
  top: 50%;
  left: 50%;
  margin: -6.5em 0 0 -5em;
  -webkit-backface-visibility: hidden;
  font-family: 'Ubuntu', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

.deck__item {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: .3em;
  border: 0.1em solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3), inset 0 6em 6em rgba(255, 255, 255, 0.1);
  transform-origin: 90% 92%;
  transition: .3s;
}
.deck__item:hover ~ .deck__item {
  transform: rotate(120deg);
}

.deck__item:last-of-type:after {
  content: "";
  position: absolute;
  left: 90%;
  top: 92%;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  background: white;
  margin: -.6em 0 0 -.6em;
  box-shadow: inset 0 1px 1px white, inset 0 -0.3em 0.2em #dddcdb, 0 0 0.6em rgba(0, 0, 0, 0.2);
}

.deck__item:last-of-type:before {
  content: "";
  position: absolute;
  right: .4em;
  bottom: .9em;
  width: 1.1em;
  height: .15em;
  background: silver;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.deck__link {
  text-decoration: none;
  display: block;
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.deck__icon {
  font-family: 'FontAwesome', sans-serif;
  font-size: 4em;
  color: black;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin: .5em auto;
}

.deck__item--facebook {
  background: #3b5998;
  transform: rotate(-20deg);
}

.deck__item--github {
  background: #4183c4;
  transform: rotate(-10deg);
}

.deck__item--twitter {
  background: #00a0d1;
  transform: rotate(0deg);
}

.deck__item--linkedin {
  background: #0e76a8;
  transform: rotate(10deg);
}

.deck__item--pinterest {
  background: #910101;
  transform: rotate(20deg);
}

.deck__item--googleplus {
  background: #db4a39;
  transform: rotate(30deg);
}